@using Microsoft.AspNet.Identity
@model IEnumerable<CinemaProject.Models.Ticket>

@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>test</h2>
<table id="tickets" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Movie Name</th>
        <th>Date</th>
        <th>Hall</th>
        <th>Seat Number</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var ticket in Model)
    {
        if (ticket.Paid)
        {
            <tr>
                <td>@Html.ActionLink(ticket.Screening.Movie.Name, "Details", "Movies", new {id = ticket.Screening.MovieId}, null)</td>
                <td>@ticket.Date</td>
                <td>@ticket.HallId</td>
                <td>@ticket.SeatNumber</td>
                <td>@ticket.Screening.Price</td>
                <td>@Html.ActionLink("Remove", "RemoveTicketFromCart", "Ticket", new {seat = ticket.SeatNumber, date = ticket.Date, hall = ticket.HallId}, null) |
                    @Html.ActionLink("Change Seat", "ChangeSeat", "Ticket", new {date = ticket.Date, hallId = ticket.HallId, seat = ticket.SeatNumber}, null)
                </td>
            </tr>
        }
    }
    </tbody>
</table>
<p>
    @Html.ActionLink("Delete All Tickets", "DeleteAllUserTickets", "Ticket", new { userId = User.Identity.GetUserId() }, new { @class = "btn btn-primary" })
</p>