@model CinemaProject.ViewModel.TicketFormViewModel
@{
    ViewBag.Title = "ChangeSeat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Seat Page For - @Model.Screening.Movie.Name</h2>

@using (Html.BeginForm("ChangeSave", "Ticket"))
{
    <h4>Occupied Seats:</h4>
    foreach (var ticketList in Model.TicketsList)
    {
        <li>@ticketList.SeatNumber</li>
    }
    <h4>Your Seat:</h4>
    <p>@ViewBag.seat</p>

    <div class="form-group">
        @Html.LabelFor(m => m.Ticket.SeatNumber)
        @Html.TextBoxFor(m => m.Ticket.SeatNumber, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Ticket.Date, new { @Value = @Model.Screening.Date.ToString() })
    @Html.HiddenFor(m => m.Ticket.HallId, new { @Value = @Model.Screening.HallId })
    @Html.HiddenFor(m => m.Ticket.Paid)

    <button name="seat" value="@ViewBag.seat" type="submit" class="btn btn-primary">Next</button>
}


